<section class="w-50 shadow bg-main-light shadow p-3 mx-auto " *ngIf="step1" >
    <form [formGroup]="forgetform" (ngSubmit)="handleforget()">
        <label for="email" >email:</label>
        <input type="email" formControlName="email" id="email"  class="form-control">
        <button class="btn-main w-100 mt-3">forgot password</button>
    </form>
    <p class=" alert alert-danger" *ngIf="alert">
{{alert}}
    </p>

</section>
<section class="w-50 shadow bg-main-light shadow  p-3 mx-auto " *ngIf="step2">  
    <form [formGroup]="resetcode" (ngSubmit)="handleresetcode()"> 
          <label for="resetcode" >Reset Code :</label>
 
        <input type="text" formControlName="resetCode" id="resetcode"  class="form-control">
        <button  class="btn-main w-100 mt-3">Reset Code</button>
    </form>
    <p class=" alert alert-danger" *ngIf="alert">
        {{alert}}
            </p>
   
</section>
<section class="w-50 shadow bg-main-light shadow  p-3 mx-auto " *ngIf="step3 ">  
    <form [formGroup]="resetpassword"(ngSubmit)="handlenewpassword()" >
        <label for="newPassword" >Reset Password:</label>
        <input type="password" formControlName="newPassword" id="newPassword"  class="form-control">
        <button class="btn-main w-100  mt-3">Reset Password</button>  
    </form>
    <p class=" alert alert-danger" *ngIf="alert">
        {{alert}}
            </p>
</section>
